<div class="row">
  <div class="col-xs-12" style="text-align: center">
    <h3>Détail de la vente</h3>
    <h2>{{article.title}}</h2>
  </div>
  <div class="col-xs-10 col-xs-offset-1" style="align-content: center">
    <img style="max-width: 100%" *ngIf="article.photo" [src]="article.photo">
  </div>
  <div routerLinkActive="active" class="col-xs-12 col-xs-offset-1">
    <p>Description : {{article.description}}</p>
    <p>Catégorie : {{article.categorie}}</p>
    <p>Mise à Prix : {{article.prixDeDepart}}</p>
    <p>Fin de l'enchère : {{article.finEnchere | date:'dd/MM/yyyy'}}</p>
    <p>Retrait : {{article.retrait}}</p>
    <p>Utilisateur : <a routerLink="/user/view" style="cursor: pointer">{{article.pseudoUser}}</a></p>
    <p *ngIf="article.acheteur">Meilleur Offre : {{article.meilleurOffre}}</p>
    <p *ngIf="article.acheteur">Enchérisseur actuel : {{userService.getUser(article.acheteur).pseudo}}</p>
  </div>
    <form [formGroup]="enchereForm" (ngSubmit)="encherir()" *ngIf="!isAuth">
    <div class="col-xs-12 col-xs-offset-1 form-inline">
      <label for="maProposition">Ma Proposition :</label>
      <input type="number" class="form-control" id="maProposition" formControlName="maProposition">
      <button type="submit" class="btn btn-success" >Enchérir</button>
      <p *ngIf="enchereReussi" class="text-success">Enchère réussi</p>
      <p *ngIf="enchereEchec" class="text-danger">Crédit insufisant</p>
    </div>
    </form>
  <div class="col-xs-12">
    <button class="btn btn-default center-block" (click)="onBack()">Retour</button>
    <button class="btn btn-danger pull-right" *ngIf="isAuth" (click)="onDeleteArticle(article)">Supprimer l'article</button>
  </div>
</div>
