<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Modification profil</h2>
    <form [formGroup]="updateForm" (ngSubmit)="updateUser()">
      <div class="form-group">
        <label for="pseudo">Pseudo : </label>
        <input type="text" id="pseudo" class="form-control" formControlName="pseudo" [ngModel]="userUpdate.pseudo">
      </div>
      <div class="form-group">
        <label for="nom">Nom : </label>
        <input type="text" id="nom" class="form-control" formControlName="nom" [ngModel]="userUpdate.nom">
      </div>
      <div class="form-group">
        <label for="prenom">Prénom : </label>
        <input type="text" id="prenom" class="form-control" formControlName="prenom" [ngModel]="userUpdate.prenom">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" formControlName="email" [ngModel]="userUpdate.email">
      </div>

      <div class="form-group">
        <label for="telephone">Téléphone : </label>
        <input type="tel" id="telephone" class="form-control" formControlName="telephone" [ngModel]="userUpdate.telephone">
      </div>
      <div class="form-group">
        <label for="rue">Rue : </label>
        <input type="text" id="rue" class="form-control" formControlName="rue" [ngModel]="userUpdate.rue">
      </div>
      <div class="form-group">
        <label for="codePostal">Code postal : </label>
        <input type="text" id="codePostal" class="form-control" formControlName="codePostal" [ngModel]="userUpdate.codePostal">
      </div>
      <div class="form-group">
        <label for="ville">Ville : </label>
        <input type="text" id="ville" class="form-control" formControlName="ville" [ngModel]="userUpdate.ville">
      </div>

      <div class="form-group">
        <label for="password">Mot de passe : </label>
        <input type="password" id="password" class="form-control" formControlName="password" [ngModel]="userUpdate.password">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="updateForm.invalid">Modifier mes informations</button>
    </form>
    <p class="text-danger">{{errorMessage}}</p>
  </div>
</div>
