<div class="row">
  <div>
    <h2 style="text-align: center">Modification profil</h2>
    <form [formGroup]="updateForm" (ngSubmit)="updateUserForm()">
      <div class="col-xs-12">
        <div class="col-sm-6 form-group">
          <label for="pseudo">Pseudo : </label>
          <input type="text" id="pseudo" class="form-control" formControlName="pseudo" [ngModel]="userUpdate.pseudo">
        </div>
        <div class="col-sm-6 form-group">
          <label for="nom">Nom : </label>
          <input type="text" id="nom" class="form-control" formControlName="nom" [ngModel]="userUpdate.nom">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="col-sm-6 form-group">
          <label for="prenom">Prénom : </label>
          <input type="text" id="prenom" class="form-control" formControlName="prenom" [ngModel]="userUpdate.prenom">
        </div>
        <div class="col-sm-6 form-group">
          <label for="telephone">Téléphone : </label>
          <input type="tel" id="telephone" class="form-control" formControlName="telephone"
                 [ngModel]="userUpdate.telephone">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="col-sm-6 form-group">
          <label for="rue">Rue : </label>
          <input type="text" id="rue" class="form-control" formControlName="rue" [ngModel]="userUpdate.rue">
        </div>
        <div class="col-sm-6 form-group">
          <label for="codePostal">Code postal : </label>
          <input type="text" id="codePostal" class="form-control" formControlName="codePostal"
                 [ngModel]="userUpdate.codePostal">
        </div>
      </div>
      <div class="col-xs-12 form-group">
        <label for="ville">Ville : </label>
        <input type="text" id="ville" class="form-control" formControlName="ville" [ngModel]="userUpdate.ville">
      </div>
      <button class="center-block btn btn-primary" type="submit" [disabled]="updateForm.invalid">Modifier mes informations</button>
    </form>
    <p class="text-danger">{{errorMessage}}</p>
  </div>
</div>
